body{
    margin: 0px;
    padding: 0px;
   display: flex;
   justify-content: center;
   align-items: center;
    height: 100vh;
    background-color: darkgray;
}

.container{
    text-align: center;
}

span{
    color: red;
}

button{
    background-color: brown;
    color: beige;
    align-items: center;
    padding: 0.5rem 1rem;
    border: 2px solid whitesmoke;
    cursor: pointer;
    box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.3);
   transition: background-color 0.3s;
    border-radius: 5px;
}

button:hover{
    background-color: darkgrey;
    color: black;
}